.acsux-hsb.unified_widget ul {
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 0; 
    list-style: none;        /* JAPAN HAS NO LIST-STYLE */
}
.JP .acsux-hsb.unified_widget ul {
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 0; 
}
.acsux-hsb.unified_widget {
    margin-bottom: 24px;     /* JAPAN HAS MARGIN-BOTTOM: 20px */
}
.JP .acsux-hsb.unified_widget {
    margin-bottom: 20px;     
}
.acsux-hsb-wrap, .acsux-hsb-wrap div, .acsux-hsb-wrap ul, .acsux-hsb-wrap li, .acsux-hsb-wrap img {
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;        /* JAPAN DOES NOT HAVE FONT-SIZE: 100% */
    line-height: 1;
}
.JP .acsux-hsb-wrap, .JP .acsux-hsb-wrap div, .JP .acsux-hsb-wrap ul, .JP .acsux-hsb-wrap li, .JP .acsux-hsb-wrap img {
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    line-height: 1;
}
.acsux-hsb-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 360px;
    text-align: center;      /* JAPAN DOES NOT HAVE TEXT-ALIGN: CENTER */
}
.JP .acsux-hsb-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 360px;
}
.acsux-hsb-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 360px;
    text-align: center;
}
.acsux-menu {               /* JAPAN DOES NOT HAVE THIS SECTION */
    list-style: outside; 
    list-style: none;
}
.JP .acsux-menu {               

}
.acsux-menu-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    display: none;
    width: 100%;
    height: 360px;
    text-align: center;
}
.ascux-menu-container {
    position: relative;
    margin: 0 auto;
    width: 770px;
    height: 360px;
}
.acsux-hsb-wrap .acsux-menu {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 50;           /* JAPAN HAS Z-INDEX: 100 */
    display: block; 
    margin: 0; 
    margin-left: 155px;    /* JAPAN HAS MARGIN-LEFT: 135px */
    padding-top: 1px;
    width: 215px;          /* JAPAN HAS WIDTH: 230px */
    list-style: none;   
    text-align: left;
    cursor: pointer; 
}
.JP .acsux-hsb-wrap .acsux-menu {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 100;            
    display: block; 
    margin: 0; 
    margin-left: 135px;     
    padding-top: 1px;
    width: 230px;            
    list-style: none;   
    text-align: left;
    cursor: pointer; 
}
.acsux-menu li {
    position: relative;
    display: block; 
    float: left;
    margin: 0;                      /* JAPAN HAS MARGIN: 0 5px 0 0 */
    width: 215px;                   /* JAPAN HAS WIDTH: 230px */
    border-width: 0 1px 1px 1px;    /* JAPAN HAS BORDER-WIDTH: 0 1px 1px */
    border-style: solid;
    border-color: #b7b7b7 #aaaaaa #a0a0a0;
    background: #fff;               /* JAPAN DOES NOT HAVE THIS LINE */
    background: #ececec;        
    background: -moz-linear-gradient(top, whitesmoke, #e3e3e3);     /* JAPAN HAS (top, #f5f5f5, #e3e3e3) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #e3e3e3)); /* JAPAN HAS COLOR-STOP(0%, #f5f5f5) */
    background: -webkit-linear-gradient(top, whitesmoke, #e3e3e3);  /* JAPAN HAS #f5f5f5 INSTEAD OF WHITESMOKE */
    background: -o-linear-gradient(top, whitesmoke, #e3e3e3);       /* JAPAN HAS #f5f5f5 INSTEAD OF WHITESMOKE */
    background: -ms-linear-gradient(top, whitesmoke, #e3e3e3);      /* JAPAN HAS #f5f5f5 INSTEAD OF WHITESMOKE */
    background: linear-gradient(top, whitesmoke, #e3e3e3);          /* JAPAN HAS #f5f5f5 INSTEAD OF WHITESMOKE */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    text-align: left;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='#e3e3e3',GradientType=0);           
    /* JAPAN HAS ADDITIONAL LINE - PADDING-BOTTOM: 10px (removed 08.05.14)*/
}
.JP .acsux-menu li {
    position: relative;
    display: block; 
    float: left;
    margin: 0 5px 0 0;          
    width: 230px;                
    border-width: 0 1px 1px;   
    border-style: solid;
    border-color: #b7b7b7 #aaaaaa #a0a0a0;
    background: #ececec;        
    background: -moz-linear-gradient(top, #f5f5f5, #e3e3e3);     
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e3e3e3));                                           
    background: -webkit-linear-gradient(top, #f5f5f5, #e3e3e3);  
    background: -o-linear-gradient(top, #f5f5f5, #e3e3e3);       
    background: -ms-linear-gradient(top, #f5f5f5, #e3e3e3);      
    background: linear-gradient(top, #f5f5f5, #e3e3e3);          
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    text-align: left;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='#e3e3e3',GradientType=0);            
}
.acsux-menu li:first-child {
    border-width: 1px 1px 1px 1px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;    
}
.acsux-menu li:last-child {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.acsux-menu li.acsux-active {       
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
}
.acsux-menu .acsux-active .acsux-inner-menu a {
    color: #333;
}
.acsUxWidget .acsux-menu .acsux-inner-menu a {
    color: #000;                        /* JAPAN DOES NOT HAVE THIS LINE */
    color: #666;
    text-decoration: none !important;
    font-weight: bold;                  /* JAPAN HAS FONT-WEIGHT: 700 */
    font-size: 13px;
    font-family: arial, sans-serif;     /* JAPAN HAS FONT-FAMILY: ARIAL, 'MS PGOTHIC', SANS-SERIF */
    line-height: 1.15;                  /* JAPAN HAS LINE-HEIGHT: 1.4 */
}
.JP .acsux-menu .acsux-inner-menu a {
    color: #666;
    text-decoration: none !important;
    font-weight: 700;  
    font-size: 13px;
    font-family: arial, 'MS PGothic', sans-serif;     
    line-height: 1.4;                 
}
.acsux-menu .acsux-inner-menu a:hover {
    text-decoration: underline !important;
}
.acsux-menu .acsux-inner-menu img {
    position: relative;
    float: left; 
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px; 
    border: 1px solid #fff; 
    width: 40px;                /* JAPAN DOES NOT HAVE THIS LINE */
    height: 40px;               /* JAPAN DOES NOT HAVE THIS LINE */
}
.JP .acsux-menu .acsux-inner-menu img {
    position: relative;
    float: left; 
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px; 
    border: 1px solid #fff; 
}
.acsux-menu .acsux-inner-menu div {
    position: relative;
    margin-left: 60px;  
    padding-top: 10px;
    width: 150px;               /* JAPAN HAS WIDTH: 160px */
}
.JP .acsux-menu .acsux-inner-menu div {
    position: relative;
    margin-left: 60px;  
    padding-top: 10px;
    width: 160px;        
}
.acsux-menu .acsux-inner-menu span {
    display: block;
    display: block;                     /* REDUNDANT */
    margin: 3px 0;      
    padding-bottom: 10px;               /* JAPAN DOES NOT HAVE THIS LINE */
    color: #666;
    font-size: 11px;                    /* JAPAN HAS FONT-SIZE: 11.5px */
    font-family: arial, sans-serif;     /* JAPAN HAS FONT-FAMILY: ARIAL, 'MS PGOTHIC', SANS-SERIF */
    line-height: 1.15;                  /* JAPAN HAS LINE-HEIGHT: 1.45 */
}
.JP .acsux-menu .acsux-inner-menu span {
    display: block;
    margin: 3px 0;      
    color: #666;
    font-size: 11.5px;        
    font-family: arial, 'MS PGothic', sans-serif;    
    line-height: 1.45;      
}
.acsux-hero-wrap {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;          /* JAPAN DOES NOT HAVE THIS LINE */
}
.JP .acsux-hero-wrap {
    position: relative;
    top: 0;
    left: 0;
}
.acsux-hero {
    position: relative;
    top: 0;
    display: block; 
    margin: 0 !important;        /* JAPAN DOES NOT HAVE THIS LINE */
    list-style: outside;         /* JAPAN HAS LIST-STYLE: NONE */
    font-size: 0 !important;     /* JAPAN DOES NOT HAVE THIS LINE */
    /* width: 100%; */ 
    height: 360px; 
}
.JP .acsux-hero {
    position: relative;
    top: 0;
    display: block; 
    list-style: none;   
    /* width: 100%; */
    height: 360px;        
}
.acsux-hero li {
    /* JAPAN ALSO HAS DISPLAY: BLOCK */
    display: inline-block;
    width: 100%;
    height: 360px;
    text-align: center;
    /* JAPAN ALSO HAS FLOAT: LEFT */
}
.JP .acsux-hero li {
    display: block;
    display: inline-block;
    width: 100%;
    height: 360px;
    text-align: center;
    float: left;
}
.acsux-hero a {
    display: line-block;
    margin: 0 auto;         
}          
.acsux-hero li span {
    display: none; 
    visibility: none; 
}